<h1>Listing establecimiento_inspectors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @establecimiento_inspectors.each do |establecimiento_inspector| %>
      <tr>
        <td><%= establecimiento_inspector.nombre %></td>
        <td><%= establecimiento_inspector.fecha %></td>
        <td><%= link_to 'Show', establecimiento_inspector %></td>
        <td><%= link_to 'Edit', edit_establecimiento_inspector_path(establecimiento_inspector) %></td>
        <td><%= link_to 'Destroy', establecimiento_inspector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Establecimiento inspector', new_establecimiento_inspector_path %>
