<p id="notice"><%= notice %></p>


  <section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Platillo </h3>
        </div>
      </div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-4 col-sm-4 text-left margin-top: align">
                            
                              <h2><%= @platillo.nombre %></h2>  
                            </div>
                            <div class="col-lg-4 col-sm-4 text-center follow-info">
                            <h4>
                                <p>Descripción: <%= @platillo.descripcion %></p>
                                <p>Receta: <%= @platillo.receta %></p>
                            </h4>
                            </div>
                            
                            <div class="col-lg-4  pull-right text-right">
                            <h4>
                            <p>Precio: <%= @platillo.precio %></p>
                            </h4>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <header class="panel-heading tab-bg-info">
                              <ul class="nav nav-tabs">
                                  <li class="active">
                                      <a data-toggle="tab" href="#ingrediente">
                                          <i class="icon-home"></i>
                                          Ingredientes
                                      </a>
                                  </li>
                                  
                              </ul>
                          </header>
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div id="ingrediente" class="tab-pane active"> 
                                  <section class="panel">  
                                  <!--AQUI EMPIEZA LA PRIMERA TAB-->                                     
                            <div class="col-sm-12">    
                            <%= link_to 'Añadir Ingrediente', agregar_ingrediente_path(id: @platillo),  class: "btn btn-success pull-right" %>     
                          </div>
                        </section>
                    
                    </div>
                    </div>

