<p id="notice"><%= notice %></p>
<section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Establecimientos </h3>
        </div>
      </div>
	  <div class="row">
	    <!-- profile-widget -->
	    	<div class="col-lg-12">
	        	<div class="profile-widget profile-widget-info">
	              <div class="panel-body">
	                <div class="col-lg-4 col-sm-4 text-left">
	                  <h2><%= @establecimiento.direccion %></h2> 
	                </div>
	                <div class="col-lg-4 col-sm-4 follow-info pull-right">
                                <p>Teléfono: <%= @establecimiento.telefono %></p>
                                <p>Código Postal: <%= @establecimiento.codpost %></p>        
                     </div>
	              <div class="col-lg-3 col-sm-3  pull-right">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <header class="panel-heading tab-bg-info">
                              <ul class="nav nav-tabs">
                                  <li class="active">
                                      <a data-toggle="tab" href="#empleados">
                                          <i class="icon-home"></i>
                                          Empleados
                                      </a>
                                  </li>
                                  <li>
                                      <a data-toggle="tab" href="#reportes">
                                          <i class="icon-user"></i>
                                          Reportes
                                      </a>
                                  </li>
                                  <li class="">
                                      <a data-toggle="tab" href="#platillos">
                                          <i class="icon-envelope"></i>
                                          Platillos
                                      </a>
                                  </li>
                                  <li class="">
                                      <a data-toggle="tab" href="#proveedores">
                                          <i class="icon-envelope"></i>
                                          Proveedores
                                      </a>
                                  </li>
                                  <li class="">
                                      <a data-toggle="tab" href="#inspectores">
                                          <i class="icon-envelope"></i>
                                          Inspectores
                                      </a>
                                  </li>
                              </ul>
                          </header>
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div id="empleados" class="tab-pane active"> 
                                  <section class="panel">  
                                  <!--AQUI EMPIEZA LA PRIMERA TAB-->                                     
                            <div class="col-sm-12">    
                            <%= link_to 'Añadir Empleado', new_empleado_path(establecimiento_id: @establecimiento),  class: "btn btn-success pull-right" %>     
                          <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Cargo</th>
                                  <th>Contratación</th>
                                  <th>Salario</th>
                                  <th>Edit</th>
                                  <th>Destroy</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% @establecimiento.empleados.each do |empleado| %>
                              <tr>
                                <td><%= empleado.nombre %></td>
                                <td><%= empleado.cargo %></td>
                                <td><%= empleado.contratacion %></td>
                                <td><%= empleado.salario %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_empleado_path(empleado) %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                             <br>
                           <% end %>
                            </tbody>
                          </table>
                         </div>  
                        </section>
                     </div>
                                  <!--AQUI ACABA LA PRIMERA TAB-->

                                  <!--AQUI EMPIEZA LA SEGUNDA TAB-->
                                  <div id="reportes" class="tab-pane">
                                    <section class="panel">
                                    
                                      <div class="col-sm-12">
                                      <%= link_to 'Añadir Reporte', new_reporte_path(establecimiento_id: @establecimiento), class: "btn btn-success pull-right" %>
                                 <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Fecha</th>
                                  <th>Clientes</th>
                                  <th>Ingreso</th>
                                  <th>Edit</th>
                                  <th>Destroy</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% @establecimiento.reportes.each do |reporte| %>
                              <tr>
                                <td><%= reporte.fecha %></td>
                                <td><%= reporte.clientes %></td>
                                <td><%= reporte.ingreso %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_reporte_path(reporte) %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                             <br>
                           <% end %>
                            </tbody>
                          </table>
                                 </div> 
                                 </section>                    
                             </div>
<!--AQUI ACABA LA SEGUNDA PARTE-->
<!--AQUI VA LA TERCERA PARTE-->
                              <div id="platillos" class="tab-pane">
                                    <section class="panel">
                                    <%= link_to 'Añadir Platillo', agregar_platillo_path(id: @establecimiento),  class: "btn btn-success pull-right" %>
                                    

                                    <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Descripción</th>
                                  <th>Precio</th>
                              </tr>
                              </thead>
                              <tbody>
                              

                              <% @platillos.each do |platillo| %>
                              <tr>
                                <td><%= platillo.nombre %></td>
                                <td><%= platillo.descripcion %></td>
                                <td><%= platillo.precio %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_platillo_path(platillo) %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, platillo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                             <br>
                           <% end %>



                            </tbody>
                          </table>



                                    </section>
                              </div>

<!--AQUI ACABA LA TERCERA PARTE-->
<!--AQUI VA LA CUARTA TAB-->
                              <div id="proveedores" class="tab-pane">
                                    <section class="panel">
                                    <%= link_to 'Añadir Proveedor', agregar_proveedor_path(id: @establecimiento),  class: "btn btn-success pull-right" %>
                                    

                                     <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Email</th>
                                  <th>Teléfono</th>
                                  <th>Representante</th>
                              </tr>
                              </thead>
                              <tbody>
                              

                              <% @proveedores.each do |proveedor| %>
                              <tr>
                                <td><%= proveedor.nombre %></td>
                                <td><%= proveedor.email %></td>
                                <td><%= proveedor.telefono %></td>
                                <td><%= proveedor.representante %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_proveedor_path(proveedor) %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, proveedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                             <br>
                           <% end %>



                            </tbody>
                          </table>


                                    </section>
                              </div>
                              <!--AQUI ACABA LA CUARTA PARTE-->
                              <!--AQUI VA LA QUINTA TAB-->
                              <div id="inspectores" class="tab-pane">
                                    <section class="panel">

                                    <%= link_to 'Añadir Inspector', agregar_inspector_path(id: @establecimiento),  class: "btn btn-success pull-right" %>
                                      

                                      <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Institución</th>
                                  <th>Departamento</th>
                                  <th>Teléfono</th>
                                  <th>Fecha</th>
                              </tr>
                              </thead>
                              <tbody>
                              

                              <% @inspectores.each do |inspector| %>
                              <tr>
                              <td><%= inspector.nombre %></td>
                                <td><%= inspector.institucion %></td>
                                <td><%= inspector.departamento %></td>
                                <td><%= inspector.telefono %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_inspector_path(inspector) %></td>
                                <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, inspector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                             <br>
                           <% end %>



                            </tbody>
                          </table>

                                    </section>
                              </div>
                              <!--AQUI ACABA LA QUINTA PARTE-->
                            </div>
                 </div>
                 