<p id="notice"><%= notice %></p>


  <section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Inspector </h3>
        </div>
      </div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                          <div class="col-lg-3 col-sm-3 text-left margin-top: align">
                            
                              <h2><%= @inspector.nombre %></h2>  
                            </div>
                            <div class="col-lg-3 col-sm-3 text-left follow-info">
                            
                              <h4><%= @inspector.institucion %></h4>  
                            </div>
                            <div class="col-lg-3 col-sm-3 text-center follow-info">
                            <h4>
                                <p>Departamento: <%= @inspector.departamento %></p>
                            </h4>
                            </div>
                            <div class="col-lg-3  pull-right text-center follow-info">
                            <h4>
                            <p>Telefono: <%= @inspector.telefono %></p>
                            </h4>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

