<p id="notice"><%= notice %></p>


    <section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Reporte </h3>
        </div>
      </div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-4 col-sm-4 text-left margin-top: align">
                            
                              <h2><%= @reporte.fecha %></h2>  
                            </div>
                            <div class="col-lg-4 col-sm-4 text-center follow-info">
                            <h4>
                                <p>Clientes: <%= @reporte.clientes %></p>
                            </h4>
                            </div>
                            <div class="col-lg-4  pull-right text-center follow-info">
                            <h4>
                            <p>Ingreso: <%= @reporte.ingreso %></p>
                            </h4>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>




<%= link_to 'Edit', edit_reporte_path(@reporte) %> |
<%= link_to 'Back', reportes_path %>
