<h1>Listing Empleados </h1>

<%= form_tag(empleados_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
    <div class ="row">
    <div class ="col-lg-4">
      <%= text_field_tag :search, params[:search], class: "form-control col-lg-4", placeholder: "Buscar establecimientos" %>
      <button class="btn btn-primary pull-left" type="submit"><i class="icon_search"></i></button>
    </div>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
   
      </div>
    </div>
<% end %>


<a class="btn btn-warning pull-right" href="/empleados.pdf">Genrar PDF</a>   

<div>

<div class="row">
   <div class="col-lg-12">


<table class="table table-striped table-advance table-hover">
  <tbody>
  <tr>
    <th><i class="icon_profile"></i>Nombre</th>
    <th><i class="icon_ribbon_alt"></i> Cargo</th>
    <th><i class="icon_calendar"></i> Contratación</th>
    <th><i class="icon_currency"></i> Salario</th>
    <th> Edit</th>
    <th> Destroy</th>
  </tr>

    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= link_to empleado.nombre, empleado %></td>
        <td><%= empleado.cargo %></td>
        <td><%= empleado.contratacion%></td>
        <td><%= empleado.salario%></td>


        <td><%= link_to '<div class "btn-group"><div class="btn btn-primary"><i class="icon_pencil"></i></div></div>'.html_safe, edit_empleado_path(empleado)%></td>
        <td><%= link_to '<div class "btn-group"><div class="btn btn-danger"><i class="icon_minus_alt2"></i></div></div>'.html_safe, empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>





<br>

