
<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <nav id="sign in">
	<% if user_signed_in?%>
		Signed in as <%=current_user.email %>
		<%=link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-warning' %>
	<%else %>
		<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning' %> <strong> or</strong>
		<%= link_to "Sign in", new_user_session_path, class: 'btn btn-warning' %>
	<%end%>
	</nav>
              <ul class="sidebar-menu"> 

              <%= link_to '<li class="sub-menu"><div class ="navbar-tab-cool"><i class="icon_building"></i><span>Establecimientos</span></div></li>'.html_safe,establecimientos_path %>

              <%= link_to '<li class="sub-menu"><div class ="navbar-tab-cool"><i class="icon_document"></i><span>Platillos</span></div></li>'.html_safe,platillos_path %>    

              <%= link_to '<li class="sub-menu"><div class ="navbar-tab-cool"><i class="icon_group"></i><span>Inspectores</span></div></li>'.html_safe,inspectors_path %> 
                  
                  <%= link_to '<li>
                      <div class="navbar-tab-cool">
                          <i class="icon_cart_alt"></i>
                          <span>Proveedores</span>
                      </div>
                  </li>'.html_safe, proveedors_path %> 
                  
                  <%= link_to '<li class="sub-menu"><div class ="navbar-tab-cool"><i class="icon_documents"></i><span>Reportes</span></div></li>'.html_safe,reportes_path %>
                             
                  <%= link_to '<li class="sub-menu"><div class ="navbar-tab-cool"><i class="icon_group"></i><span>Empleados</span></div></li>'.html_safe,empleados_path %>
                  
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>


<nav>
 	<ul>
 	<li> <%= link_to "Empleados", empleados_path %> </li>
 	<li> <%= link_to "Proveedores", proveedors_path %> </li>
 	<li> <%= link_to "Ingredientes", ingredientes_path %> </li>
 	<li> <%= link_to "Platillo", platillos_path %> </li>
 	</ul>
</nav>	